{% extends "blog/base.html"%}
{% block content%}
<div class="form-outline">
  
    <label class="form-label" for="formControlLg"><h1>In order to register your society on Event Magazine, you must do as following :</h1> 
        <h3><br>1) You must be the Society Representative. 
        <br>2) Mail us your name, Society name, Society id card(Your position in society should be visible) at <a href = "gmail.com">hagarwal_be19@thapar.edu</a>
        (You must mail with your thapar id). </h3>
        <br><h1>Our team will reach out to you within 24 hours. Thankyou</h1>
    </label>
  </div>
{% endblock content%}