  
{% extends "blog/base.html"%}

{% block content%}

<div class="form-group">
  <label for="exampleFormControlTextarea1"><h2>About Event Magazine</h2></label>
  <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10">Event Magazine is designed to target students or faculties at university level
where instead of keeping a track of all the events on social media, they will
have a single platform to check with.  
Instead of going on search for a particular event of their interests and consuming
most of their time while scrolling down never-ending feed of different social
handles they can rely on this platform and opt for which activities are worth their attention and add on to their skill set in near future.
</textarea>
<label for="exampleFormControlTextarea1"></label><h2>You can reach out to us at : </h2>
    <h3>hagarwal_be19@thapar.edu</h3>
    <h3>sagarwal_be19@thapar.edu</h3>
    <h3>ysharma1_be19@thapar.edu</h3>
</label>
</div>
{% endblock content%}